@import url('https://fonts.googleapis.com/css?family-Josefin+Sans&display-swap')

*{

 margin: 0;

 padding: 0;

 box-sizing: border-box;

 list-style: none;

 font-family: 'Josefin Sans', sans-serif;

 text-decoration:none;

 font-family: 'Josefin Sans', sans-serif;

}

.body{

background:  #33ccff;
}

.header {

height: 150px;

background: #6666ff;

}

.wrapper{

display: flex;

position: realtive;

}

.wrapper .sidebar{

position: fixed; 

width: 200px;

height: 50px;

background: #993399; 

padding: 30px 0;

}
.wrapper .sidebar h2{ 


text-transform: uppercase;

margin-bottom: 30px;

color: #fff;

text-align: center;

}


.wrapper.sidebar ul li{

padding: 15px; 

border-bottom: 1px solid rgba(0,0,0,0.05); 

border-top: 1px solid rgba(225, 225, 225,0.05); 

}

.wrapper .sidebar ul li a{

color: #bdb8d7;

display: block;

}

.wrapper .sidebar ul li a .fas{ 
width: 25px; 
}

.wrapper .sidebar ul li:hover{

background: #594f8d;

}

.wrapper .sidebar ul li:hover{ 

color: #fff;

}

.wrapper .main-content {

margin-left: 200px;

height: 500px;

width: 100%;

background-image: url(background.jpg);

}

.wrapper .main-content .header {

padding: 20px;

color: #717171;

border-bottom: 10px solid #fffff;

width: 100%;

background-image: url(background.jpg);

}

.footer {

background-color: #4b4276;

padding: 50px;

text-align: left-margin;

width: 100%;

height: 65px;

}



















